.mui-navigate-right:after, .mui-push-right:after{
  content: '\e400' !important;
  color: #655e5e;
  font-size: 20px;
}
#addSelect .mui-checkbox{
  width:35px;
  overflow: hidden;
}
#addSelect .mui-checkbox.mui-left label, .mui-radio.mui-left label{
  padding-right: 0px;
  padding-left: 0px;
  display: block;
  width: 40px;
  height: 40px;;
}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
  left: 0;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
  color: red
}
.mui-radio input[type=radio]:checked:before{
  content: '\e442';
}
.edit{
  position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
    z-index: 1
}
.batred{
  background-color: #f00;
  color: #fff !important;
}
.default{
  padding-left: 15px;
  line-height: 37px;
}
#address{
  line-height: 37px;
  color: #333;
}

ul,li{
  
}

.mui-popover{
  height: 300px;
  background-color: #fff !important;
}
.mui-slider-group{
  height: 280px !important;
}
.mui-slider-item{
  border: none !important;
}
.select-head{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0.26rem;
  width: 100%;
  height: 40px;
}
.select-head:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  transform: scaleY(.5);
}
.select-head ul{
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
}
.select-head ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  margin-right: 15px;
  font-size: 14px;
  color: #333;
  line-height: 40px;
  color: #CE3D3A;
}
.select-head ul li.active{
  color: #333;
}
.select-head ul li.active:after{
  height: 0;
}
.select-head ul li:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CE3D3A;
}
.select-head a{
  float: right;
  border: none;
  font-size:14px;
  line-height:40px;
}
.select-con{
  position: relative;
}
.select-con .mui-scroll-wrapper{
  margin: 0;
  height: 280px;
}
.select-con .mui-scroll-wrapper ul{
  padding:10px 0;
}
.select-con .mui-scroll-wrapper li{
  padding: 0 15px;
  line-height:35px;
  font-size:14px;
  color: #333;
}
.select-con .mui-scroll-wrapper li.active{
  color: #CE3D3A;
}
.abtn{
  color: #929292;
  font-size: 11px;
  margin-left:5px;
}
