.productImg{
  height:270px;
}
.logo{
    width: 40px;
    height: auto;
    vertical-align: middle;
}
.header{
    background: #167108;
    line-height: 44px;
}
.logofont{
    width: auto;
    height: 16px;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-left: 25px;
}
.main{
    padding-top: 44px;
}
.desc{
    font-size: 12px !important;
    padding: 10px;
}
.desc p{
    font-size: 12px !important;
    padding: 0px !important;
    text-align: justify;
}
#product-sec-countdown{
    display: block;
    text-align: right
}
#item1mobile, #item2mobile{
    padding-bottom: 50px;
}
.mui-search .mui-placeholder ,#search{
    background: #ffffff
}
#search{
    margin-bottom:0px; 
}
.mui-search:before{
    margin-top: -10px;
}
.shop{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px;
}
.shop img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    display: block;
}
.shop p{
    padding-left: 70px;
    line-height: 18px;
    margin-bottom: 3px;
    font-size: 12px;
    color: #333333;
}
.shop p label{
    color: #999;
}
.shop p .mui-icon{
    font-size: 13px;
    vertical-align: middle;
    margin-right: 0px;
}
.shop p.t{
    padding-right: 60px;
}
.shop p.t label{
    display: inline-block;
    height: 18px;
    float: left;
}
.shop span.fr{
        line-height: 15px;
      text-align: right;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #999;
      font-size: 12px;
      
    
  }
  .shop span.fr b {
    color: #ff0000;
  }
  #pullrefresh{
     top: 44px !important;
     bottom: 10px;
  }
  .mui-table-view:before,.mui-table-view:after{
    background: none !important;
  }
  .shoptitle{
      font-size: 12px;
      color: #999;
      text-align: center;
      line-height: 20px;
      padding-top: 10px;
      margin-bottom: 0px;
  }
  .goodimg{
    margin: 10px;
    position: relative;
  }
  .goodimg img{
     border-radius: 8px;
      width: 100%;
      display: block;
  }
  .pos1 {
    position: absolute;
    bottom: 0px;
    background-color: rgba(228, 5, 5, 0.6);
    padding: 2px 10px 0px 10px;
    line-height: 20px;
    border-top-right-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
  }
  .pos2 {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 54px;
    background-color: yellow;
    padding: 5px 12px;
    font-size: 15px;
    line-height: 18px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #f00;
  }
  .goodtitle{
      padding:0  10px;
      font-size: 14px;
      color: #333333;
      margin-bottom: 0px;
  }
  .gooddes{
      font-size: 12px;
      color: #999;
      padding: 0 10px;
  }
  .goodtime{
      border-top: solid 1px #eee;
      color: red;
      padding: 10px 10px 0 10px;
      margin-bottom: 0px;
      font-size: 12px;
  }
  .goodtime span{
      float: right;
    color: #888;
  }
  .goodtime span b{
      color: red;

  }
  .item{
      position: relative;
     border-bottom: 10px solid #efeff4;
  }
  .gooddate{
      font-size: 12px;
    color: red;
    padding: 0px 10px 0 10px;
    margin-bottom: 0px;
  }
  .redp{
      font-size: 12px;
      color: red;
      padding: 3px 10px;
  }
  .redp big{
      font-size: 18px;
    
  }
  .redp del{
      color: #999;
  }
  .like {
    position: absolute;
    right: 100px;
    bottom: 10px;
    color: #888;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    background: #fff;
    border: solid 1px #999;
    padding: 1px 12px 1px 12px;
    border-radius: 15px;
    vertical-align: middle;
   
  }
  .like i{
      font-style: normal;
  }
  .item a.addCar{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    padding: 2px 8px;
    background: #ff0000;
    color: #fff;
    font-size: 12px;
    border-radius: 15px;
  }
  .sellover{
    position: relative
  }
  .sellover:after {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
  }
  .sellover span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #333;
    z-index: 1;
    margin-top: -30px;
    margin-left: -30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  .disable{
      background: #ddd !important;
  }
  .has{
      color: #ff7b00 !important;
      border-color:  #ff7b00 !important;
  }
   
  .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: #f44 !important;
  }
  .mui-slider-indicator .mui-active.mui-indicator{
    background: #f85 !important;
  }
  .mui-slider-indicator .mui-indicator{
    background: #ccc !important;
  }
  #sliderSegmentedControl{
      background: #ffffff;
      margin-bottom: 1px;
  }
  .productcontentBox2 {
    clear: both;
    width: 100%;
    height: 44px;
    background: url(../images/product.jpg);
    background-size: cover;
    position: relative;
    background-position:center;
  }
  .productcontentBox2 .realPrice {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 100%;
  }
  .productcontentBox2 .realPrice small {
    font-size: 14px;
  }
  .hidden{
      display: none
  }
  .productcontentBox2 .marketPrice {
    position: absolute;
    left: 100px;
    top: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    text-decoration: line-through;
  }
  .productcontentBox2 .text {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
  }
  .productcontentBox2 .over{
    font-size: 16px;
    top: 14px;
  }
  .productcontentBox2 .countDown {
    position: absolute;
    width: 10rem;
    height: 1.6rem;
    bottom: 0.6rem;
    right: 0rem;
    color: #ffffff;
  }
  .productcontentBox2 .countDown span {
    font-size: 1.25rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .productcontentBox2 .countDown i {
    font-style: normal;
    font-size: 0.7rem;
  }
  .productContentBox3 {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0.375rem;
  }
  .productContentBox3 .title {
    padding:10px 10px 0 10px;;
    color: #404040;
    font-size:13px;
    line-height: 14px;
    margin-bottom: 0.2rem;
    width: 100%;
    margin: 0 auto;
  }
  .productContentBox3 .subTitle {
    color: #909090;
    font-size: 12px;
    line-height: 1rem;
    margin-bottom: 0.2rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0.6rem;
    position: relative;
    padding-left:10px;
  }
  .productContentBox3 .pickUpTime {
    font-size: 12px !important;
    color: #e70a1b;
    border-top: 1px solid #e7e7e7;
    position: relative;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0 0.8rem; 
   
  }
  .productContentBox3 .pickUpTime p{
    font-size: 12px !important;
    margin-bottom: 0px;
  }
  .productContentBox3 .number {
    font-size: 0.55rem;
    color: #404040;
    position: absolute;
    right: 0rem;
    top: 0.45rem;
  }
  .productContentBox3 .number i {
    font-style: normal;
  }
  .productContentBox3 .subTitle {
    min-height: 1rem;
  }
  .productContentBox3 .subTitle .l {
    margin-top: 0.5rem;
    line-height:18px;
    padding-right: 15px;
    word-wrap: break-word;
  }
  .productContentBox3 .subTitle .rinkpeople {
    position: absolute;
    background: #fcae04;
    padding: 0.15rem 0.4rem;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    right: 0.8rem;
    top: -0.3rem;
    font-size: 0.45rem;
    text-decoration: none;
  }
  .red {
    color: #ff0000;
  }
  .productContentBox4 {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0.375rem;
    height: 50px;
    position: relative;
    border-top: 1px solid #e7e7e7;
    text-align: center;
  }
  .productContentBox4 span {
    display: inline-block;
    margin-top: 6px;
  }
  .productContentBox4 i {
   
    float: left;
    line-height: 50px;
    font-style: normal;
    color: #909090;
    font-size: 14px;
    padding-left: 10px;
  }
  .productContentBox5 {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 0.3rem;
    border-top: 1px solid #e7e7e7;
    padding: 0.675rem 0px;
    overflow: hidden;
  }
  .productContentBox5 .tit {
    width: 100%;
    height: 20px;
    background: url(../images/r50_c16.jpg) center no-repeat;
    background-size: 80% auto;
    margin: 0 auto;
    text-align: center;
    font-size:12px;
    line-height:20px;
    overflow: hidden;
  }
  .information{
      font-size: 12px;
  }
  .productContentBox5 .information {
    width: 80%;
    margin: 0 auto;
  }
  .productContentBox5 .information ul.info {
    margin-top: 0.75rem;
  }
  .productContentBox5 .information ul.info li {
    float: left;
    height: 2rem;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    font-size:12px;
    margin-top: -1px;
  }
  .productContentBox5 .information ul.info li:nth-child(2n + 1) {
    width: 30%;
    text-align: center;
    line-height: 2rem;
    color: #999;
  }
  .productContentBox5 .information ul.info li:nth-child(2n) {
    width: 70%;
    line-height: 2rem;
    margin-left: -1px;
    color: #404040;
  }
  .productContentBox5 .information ul.info li:nth-child(2n) span {
    padding-left: 0.9rem;
  }
  .productContentBox5 p {
    padding: 0.5rem 0.8rem;
    color: #888888;
  }
  .productContentBox5 .goodsimgs img {
    width: 100%;
  }
  .topN {
   
  }
  .content {
    margin: 45px 0px;
  }
  .totle {
    border-bottom: solid 1px #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    margin-bottom: 0px;
  
  }
  .totle b{
    color: #ff0000;
  }
  .ullist{
      margin: 0px;
      padding: 0px;
      list-style: none;
      background: #ffffff;
  }
.ullist li{
     
      margin: 0 10px 0px 10px;
      padding-top: 10px;
      box-sizing: border-box;
      font-size: 12px;
     
    
  }
  .ullist li img {
    vertical-align: middle;
    width: 36px !important;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .ullist li span {
    vertical-align: middle;
    display: inline-block;
  }

  .ullist li .c1 {
    width: 25%;
  }
  .ullist li .c2 {
    width: 15%;
  }
  .ullist li .c3 {
    width: 40%;
    text-align: right;
  }
  b {
    color: #ff0000;
  }
  .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{background-color: #f44 !important;}
  
  .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{border-top: none !important;    border-bottom: none !important;}