<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.weixin.dao.read.CouponRelationReadDao">
  <resultMap id="couponRelationResponseDtoResultMap" type="com.star.truffle.module.weixin.dto.res.CouponRelationResponseDto">
    <result column="id" property="id" />
    <result column="business_type" property="businessType" />
    <result column="business_id" property="businessId" />
    <result column="coupon_id" property="couponId" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <sql id="sql_column">
    id, business_type, business_id, coupon_id, deleted
  </sql>

  <sql id="sql_where">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="businessType != null">
        and business_type = #{businessType}
      </if>
      <if test="businessId != null">
        and business_id = #{businessId}
      </if>
      <if test="couponId != null">
        and coupon_id = #{couponId}
      </if>
    </trim>
  </sql>

  <select id="getCouponRelation" resultType="com.star.truffle.module.weixin.dto.res.CouponRelationResponseDto">
    select
    <include refid="sql_column" />
    from coupon_relation
    where id = #{id}
  </select>

  <select id="queryCouponRelation" resultMap="couponRelationResponseDtoResultMap">
    select
    <include refid="sql_column" />
    from coupon_relation
    <include refid="sql_where" />
    order by
    <choose>
      <when test="pager != null and pager.orderBy != null and pager.orderBy != ''">${pager.orderBy}</when>
      <otherwise>id</otherwise>
    </choose>
    <choose>
      <when test="pager != null and pager.orderType != null and pager.orderType != ''">${pager.orderType}</when>
      <otherwise>desc</otherwise>
    </choose>
    <if test="pager != null and pager.pageSize!=null and pager.startIndex!=null">
      limit #{pager.startIndex}, #{pager.pageSize}
    </if>
  </select>

  <select id="queryCouponRelationCount" resultType="java.lang.Long">
    select
    count(1)
    from coupon_relation
    <include refid="sql_where" />
  </select>
</mapper>