#pullrefresh{
  top: 45px;
  
}
.mui-table-view-chevron .mui-table-view-cell{
  padding-right: 15px;
}
.p1{
  display: inline-block;
  width: 40%;
  font-size: 12px;
}
.p2{
  display: inline-block;
  width: 40%;
  font-size: 12px;
}
.p3{
  display: inline-block;
  width: 17%;
  font-size: 12px;
  color: #ff5522
}
.p1 label,.p2 label,.p3 label{
  color: #333;
  font-weight: bold;
}

.r1{
  display: inline-block;
  width: 26%;
  font-size: 12px;
}
.r2{
  display: inline-block;
  width: 26%;
  font-size: 12px;
}
.r3{
  display: inline-block;
  width: 26%;
  font-size: 12px;
  
}
.r4{
  display: inline-block;
  width: 17%;
  font-size: 12px;
  color: #ff5522;
  text-align: right;

}
.r1 label,.r2 label,.r3 label,.r4 label{
  color: #333;
  font-weight: bold;
}