.logo{
    width: 40px;
    height: auto;
    vertical-align: middle;
}
.header{
    background: #167108;
    line-height: 44px;
}
.logofont{
    width: auto;
    height: 16px;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-left: 25px;
}
.main{
    padding-top: 46px;
    padding-bottom: 45px;
}
#mean1,#mean2{
  font-size: 12px;
}

#mean3{
  background-color: #f00;
  color: #fff;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
  color: #55bb22 !important;
}

.mui-bar .mui-btn-link.mui-active, .mui-bar .mui-btn-link:active,.mui-bar .mui-btn-link{
  color: #333333 !important;
  border: none !important;
}
.col1,.col2,.col3{
  float: left;
}
.col1{
  width: 50px;
}
.col1 label{
 text-indent: -800px;
}
.col2{
  width: 70px;
  text-align: left
}
.col2 img{
  width: 60px;
  height: 60px;
}
.col3 p{
  margin-bottom: 0; 
}
.col3{
  display: block;
  width:calc(100vw - 130px) !important;
}
.main ul,li{
  margin: 0;
  padding: 0px;
  list-style: none;
}
.main li{
  margin: 0px 0px 10px 0px;
  padding: 10px 0px;
  background: #fff;
}
.gd{
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gn{
  text-align: right;
  padding-right: 10px;
}
.gt{
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #333;
  padding-right: 40px;
  box-sizing: border-box
}
.gt em{
  color: #f00;
 position: absolute;
 right: 10px;
 font-style: normal;
}
.col1 .mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
  top: 15px;
}
.smallbox{
  width: 120px;
  height: 28px;
}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
  left: 10px;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label{
  padding-left: 18px;
}
.mui-toast-container{
  bottom: 50% !important;
} 
