<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:star="http://star">
<head>
<title>订单售后列表</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jqGrid/css/ui.jqgrid.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/artDialog/skins/simple-star.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/buttons.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/pageList.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/jquery.jqGrid.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/i18n/grid.locale-cn.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/jquery.artDialog.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/iframeTools.js}"></script>
<style type="text/css">
.dialog input{
  margin: 5px 0 3px 0;
}
.dialog input.name{
  width: 120px;
}
.dialog input.mobile{
  width: 120px;
}
.dialog input.address{
  width: 300px;
}
</style>
</head>
<body>
  <div class="main-container data-container" id="main-container">
    <div class="search-container">
      <form id="queryForm">
        <span>订单ID：
          <input type="text" name="orderId" placeholder="订单ID"/>
        </span> 
        <span>售后单号：
          <input type="text" name="afterCode" placeholder="售后单号"/>
        </span> 
        <span>分销商手机号：
          <input type="text" name="mobile" placeholder="分销商手机号"/>
        </span> 
        <span>售后状态：
          <select name="state">
            <option value="">全部</option>
            <option value="1">待处理</option>
            <option value="2">通过</option>
            <option value="3">不通过</option>
            <option value="4">已寄件</option>
            <option value="5">处理中</option>
            <option value="6">完成</option>
            <option value="7">已取消</option>
            <option value="8">已删除</option>
          </select>
        </span> 
        <span> 
          <a onclick="orderAfterSaleHandle.query()" class="button blue">查询</a> 
          <a onclick="orderAfterSaleHandle.reset()" class="button grey">清空</a>
        </span>
      </form>
    </div>
    <div class="btnGroup">
       
    </div>
    <div class="data-container">
      <table id="grid-table"></table>
      <div id="grid-pager"></div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.authorize.js}"></script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/orderAfterSale/pass/*">
  addAuthorize("orderAfterSale-pass", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/orderAfterSale/nopass/*">
  addAuthorize("orderAfterSale-nopass", true);
  </script>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.list.comm.js}"></script>
  <script type="text/javascript" th:inline="javascript" th:src="@{/js/mgr/orderAfterSale/list.js}"></script>
</body>
</html>