<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jqGrid/css/ui.jqgrid.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/artDialog/skins/simple-star.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/buttons.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/editEntityTable.css}" />
</head>
<body>
	<div class="edit-container">
		<form id="editPasswordForm">
			<table class="gy_table">
				<tr>
					<td><strong>原密码：</strong></td>
				</tr>
				<tr>
					<td><input type="password" name="oldpass" placeholder="原密码" maxlength="20"></td>
				</tr>
				<tr>
					<td><strong>新密码：</strong></td>
				</tr>
				<tr>
					<td><input type="password" id="newpass" name="newpass" placeholder="设置新密码" maxlength="20"></td>
				</tr>
				<tr>
					<td><strong>确认新密码：</strong></td>
				</tr>
				<tr>
					<td><input type="password" name="newpass2" placeholder="确认新密码"></td>
				</tr>
				<tr>
					<td>
						<div class="btnGroup">
							<input type="button" value="保存" class="button blue" id="saveBtn"> 
							<input type="button" value="关闭" class="button grey" onclick="art.dialog.close();">
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/artDialog/js/jquery.artDialog.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/artDialog/js/iframeTools.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-validation/dist/additional-methods-local.js}"></script>
	<script type="text/javascript" th:src="@{/js/mgr/userAccount/changeMinePass.js}"></script>
</body>
</html>