<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.coupon.dao.write.CouponWriteDao">
  <insert id="saveCoupon" useGeneratedKeys="true" keyProperty="couponId" parameterType="com.star.truffle.module.coupon.domain.Coupon">
    insert into coupon(coupon_id, title, card_id, description, card_type, deleted, enabled, create_time, view, view_dialog, view_home)
    values(#{couponId}, #{title}, #{cardId}, #{description}, #{cardType}, #{deleted}, #{enabled}, #{createTime}, #{view}, #{viewDialog}, #{viewHome})
  </insert>

  <insert id="batchSaveCoupon" parameterType="java.util.List">
    insert into coupon(coupon_id, title, card_id, description, card_type, deleted, enabled, create_time, view, view_dialog, view_home)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.couponId}, #{item.title}, #{item.cardId}, #{item.description}, #{item.cardType}, #{item.deleted}, #{item.enabled}, #{item.createTime}, #{item.view}, #{item.viewDialog}, #{item.viewHome})
    </foreach>
  </insert>

  <update id="updateCoupon" parameterType="com.star.truffle.module.coupon.dto.req.CouponRequestDto">
    update coupon
    <trim prefix="set" suffixOverrides=",">
      <if test="title != null and title != ''">title = #{title},</if>
      <if test="cardId != null and cardId != ''">card_id = #{cardId},</if>
      <if test="description != null and description != ''">description = #{description},</if>
      <if test="cardType != null and cardType != ''">card_type = #{cardType},</if>
      <if test="deleted != null">deleted = #{deleted},</if>
      <if test="enabled != null">enabled = #{enabled},</if>
      <if test="view != null">view = #{view},</if>
      <if test="viewDialog != null">view_dialog = #{viewDialog},</if>
      <if test="viewHome != null">view_home = #{viewHome},</if>
    </trim>
    where coupon_id = #{couponId}
  </update>

  <delete id="deleteCoupon" parameterType="java.lang.Long">
    delete from coupon where coupon_id = #{couponId}
  </delete>

  <sql id="sql_column">
    coupon_id, title, card_id, description, card_type, deleted, enabled, create_time, view, view_dialog, view_home
  </sql>

  <select id="getCoupon" resultType="com.star.truffle.module.coupon.dto.res.CouponResponseDto">
    select
    <include refid="sql_column" />
    from coupon
    where coupon_id = #{couponId}
  </select>

</mapper>