<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:star="http://star">
<head>
<title>分销商申请列表</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jqGrid/css/ui.jqgrid.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/artDialog/skins/simple-star.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/buttons.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/pageList.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/jquery.jqGrid.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/i18n/grid.locale-cn.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/jquery.artDialog.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/iframeTools.source.js}"></script>
</head>
<body>
  <div class="main-container data-container" id="main-container">
    <div class="search-container">
      <form id="queryForm">
        <span>手机号：
          <input type="text" name="mobile" placeholder="手机号"/>
        </span> 
        <span>姓名：
          <input type="text" name="name" placeholder="姓名"/>
        </span> 
        <span> 
          <a onclick="distributorApplyHandle.query()" class="button blue">查询</a> 
          <a onclick="distributorApplyHandle.reset()" class="button grey">清空</a>
        </span>
      </form>
    </div>
    <div class="btnGroup">
      <a star:authorize-uri="/distributorApply/deleted" onclick="distributorApplyHandle.remove()" class="button red">删除</a> 
    </div>
    <div class="data-container">
      <table id="grid-table"></table>
      <div id="grid-pager"></div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.authorize.js}"></script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/distributorApply/pass/*">
  addAuthorize("distributorApply-pass", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/distributorApply/nopass/*">
  addAuthorize("distributorApply-nopass", true);
  </script>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.list.comm.js}"></script>
  <script type="text/javascript" th:inline="javascript" th:src="@{/js/mgr/distributorApply/list.js}"></script>
</body>
</html>