<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:star="http://star">
<head>
<title>商品信息列表</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jqGrid/css/ui.jqgrid.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/artDialog/skins/simple-star.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/buttons.css}" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/star/css/pageList.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/jquery.jqGrid.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jqGrid/js/i18n/grid.locale-cn.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/jquery.artDialog.js}"></script>
<script type="text/javascript" th:src="@{/webjars/artDialog/js/iframeTools.js}"></script>
</head>
<body>
  <div class="main-container data-container" id="main-container">
    <div class="search-container">
      <form id="queryForm">
        <span>商品状态：
          <input type="checkbox" name="states" id="state_1" value="1" checked><label for="state_1">上架中</label>
          <input type="checkbox" name="states" id="state_2" value="2" checked><label for="state_2">预售中</label>
          <input type="checkbox" name="states" id="state_3" value="3" checked><label for="state_3">已售罄</label>
          <input type="checkbox" name="states" id="state_4" value="4"><label for="state_4">已下架</label>
          <input type="checkbox" name="states" id="state_5" value="5"><label for="state_5">已禁用</label>
          <input type="checkbox" name="states" id="state_6" value="6"><label for="state_6">已删除</label>
        </span> 
        <br>
        <span>商品大类目：
          <input type="text" name="cateName" placeholder="商品大类目" readonly>
          <input type="hidden" name="cateId">
        </span> 
        <span>商品类目：
          <input type="text" name="productCateName" placeholder="商品类目" readonly>
          <input type="hidden" name="productCateId">
        </span> 
        <span>商品标签：
          <input type="text" name="tag" maxlength="4" placeholder="悬浮在图片右上角，4个字，例如：十点爆款">
        </span> 
        <span>商品标题：
          <input type="text" name="title" placeholder="商品标题"/>
        </span> 
        <span> 
          <a onclick="productHandle.query()" class="button blue">查询</a> 
          <a onclick="productHandle.reset()" class="button grey">清空</a>
        </span>
      </form>
    </div>
    <div class="btnGroup">
      <a star:authorize-uri="/product/add" onclick="productHandle.addNew()" class="button grey">新增</a>
      <a star:authorize-uri="/product/enabled" onclick="productHandle.enabled()" class="button blue">启用</a>
      <a star:authorize-uri="/product/disabled" onclick="productHandle.disabled()" class="button yellow">禁用</a>
      <a star:authorize-uri="/product/deleted" onclick="productHandle.remove()" class="button red">删除</a> 
      <a star:authorize-uri="/product/sortBySoldNumber" onclick="productHandle.sortBySoldNumber()" class="button purple">按销量降序排列</a> 
      <a star:authorize-uri="/product/sortBySoldNumber" onclick="productHandle.exportProduct()" class="button gblue">导出</a> 
    </div>
    <div class="data-container">
      <table id="grid-table"></table>
      <div id="grid-pager"></div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.authorize.js}"></script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/product/editBefore/*">
  addAuthorize("product-editBefore", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/product/top/*">
  addAuthorize("product-top", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/product/setInventory/*">
  addAuthorize("product-setInventory", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/product/disabled">
  addAuthorize("product-disabled", true);
  </script>
  <script type="text/javascript" th:inline="javascript" star:authorize-uri="/product/enabled">
  addAuthorize("product-enabled", true);
  </script>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.list.comm.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/star/js/star.utils.js}"></script>
  <script type="text/javascript" th:inline="javascript" th:src="@{/js/mgr/product/list.js}"></script>
</body>
</html>