ul{
	margin: 0;
	padding: 0;
    list-style-type: none;
    display: block;
}
ul li{
	margin: 0;
	padding: 0;
    display: block;
    height:35px;
    line-height:35px;
    border-bottom: 1px dotted #a2a2a2;
}
ul li.n{
	margin: 0;
	padding: 0;
	float: left;
    display: inline;
    width: 50%;
}
ul input{
	height:20px;
	padding-left:3px;
}
ul select{
	height:26px;
}
.close{
	width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -65px;
    color: red;
    cursor: default;
}
strong{
	width: 140px;
	float: left;
	display: inline;
	font-weight:normal;
}
.ipt300{
	width: 300px;
}
.ipt400{
	width: 400px;
}
.ipt700{
	width: 700px;
}
.btnGroup{
    margin-bottom: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.edit-container{
	/***margin: 0px 25px;***/
}
label.error {
	color:red;
	font-size:12px;
}
.red-word{
	color: red;
}