<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.read.KickbackDetailReadDao">
  <resultMap id="kickbackDetailResponseDtoResultMap" type="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    <result column="id" property="id" />
    <result column="distributor_id" property="distributorId" />
    <result column="point_begin_time" property="pointBeginTime" />
    <result column="point_end_time" property="pointEndTime" />
    <result column="total_money" property="totalMoney" />
    <result column="create_time" property="createTime" />
    <result column="state" property="state" />
    <result column="reject" property="reject" />
    <result column="distributor_name" property="distributorName" />
    <result column="distributor_mobile" property="distributorMobile" />
    <result column="province_name" property="provinceName" />
    <result column="city_name" property="cityName" />
    <result column="area_name" property="areaName" />
    <result column="town_name" property="townName" />
    <result column="region_name" property="regionName" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <sql id="sql_column">
    kickback_detail.id, kickback_detail.distributor_id, point_begin_time, point_end_time, kickback_detail.total_money, 
    kickback_detail.create_time, kickback_detail.update_time, kickback_detail.state, kickback_detail.total_money_yun, 
    kickback_detail.reject, d.`name` distributor_name, d.mobile distributor_mobile, 
    r.`name` region_name, ifnull(p.shortName, p.areaName) province_name, ifnull(c.shortName, c.areaName) city_name,
    ifnull(a.shortName, a.areaName) area_name, ifnull(t.shortName, t.areaName) town_name
  </sql>

  <sql id="sql_where">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="id != null">
        and kickback_detail.id = #{id}
      </if>
      <if test="distributorId != null">
        and kickback_detail.distributor_id = #{distributorId}
      </if>
      <if test="state != null">
        and kickback_detail.state = #{state}
      </if>
      <if test="provinceId != null">
        and p.areaId = #{provinceId}
      </if>
      <if test="cityId != null">
        and p.areaId = #{cityId}
      </if>
      <if test="areaId != null">
        and p.areaId = #{areaId}
      </if>
      <if test="townId != null">
        and p.areaId = #{townId}
      </if>
      <if test="regionId != null">
        and r.region_id = #{regionId}
      </if>
      <if test="distributorMobile != null">
        and d.mobile = #{distributorMobile}
      </if>
    </trim>
  </sql>

  <select id="getKickbackDetail" resultType="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    select
    <include refid="sql_column" />
    from kickback_detail
    LEFT JOIN distributor d on d.distributor_id = kickback_detail.distributor_id
    LEFT JOIN distribution_region r on r.region_id = d.region_id
    LEFT JOIN sys_area p on p.areaId = r.province_id
    LEFT JOIN sys_area c on c.areaId = r.city_id
    LEFT JOIN sys_area a on a.areaId = r.area_id
    LEFT JOIN sys_area t on t.areaId = r.town_id
    where id = #{id}
  </select>

  <select id="getLatestKickbackDetail" resultType="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    select
    point_begin_time, point_end_time, total_money, state, create_time
    from kickback_detail 
    where distributor_id = #{distributorId}
    order by create_time desc
    limit 1;
  </select>

  <select id="queryKickbackDetail" resultMap="kickbackDetailResponseDtoResultMap">
    select
    <include refid="sql_column" />
    from kickback_detail
    LEFT JOIN distributor d on d.distributor_id = kickback_detail.distributor_id
    LEFT JOIN distribution_region r on r.region_id = d.region_id
    LEFT JOIN sys_area p on p.areaId = r.province_id
    LEFT JOIN sys_area c on c.areaId = r.city_id
    LEFT JOIN sys_area a on a.areaId = r.area_id
    LEFT JOIN sys_area t on t.areaId = r.town_id
    <include refid="sql_where" />
    order by
    <choose>
      <when test="pager != null and pager.orderBy != null and pager.orderBy != ''">${pager.orderBy}</when>
      <otherwise>id</otherwise>
    </choose>
    <if test="pager != null and pager.orderType != null and pager.orderType != ''">${pager.orderType}</if>
    <if test="pager != null and pager.pageSize!=null and pager.startIndex!=null">
      limit #{pager.startIndex}, #{pager.pageSize}
    </if>
  </select>

  <select id="queryKickbackDetailCount" resultType="java.lang.Long">
    select
    count(1)
    from kickback_detail
    LEFT JOIN distributor d on d.distributor_id = kickback_detail.distributor_id
    LEFT JOIN distribution_region r on r.region_id = d.region_id
    LEFT JOIN sys_area p on p.areaId = r.province_id
    LEFT JOIN sys_area c on c.areaId = r.city_id
    LEFT JOIN sys_area a on a.areaId = r.area_id
    LEFT JOIN sys_area t on t.areaId = r.town_id
    <include refid="sql_where" />
  </select>
</mapper>