<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.product.dao.write.ProductInventoryWriteDao">
  <insert id="saveProductInventory" useGeneratedKeys="true" keyProperty="id" parameterType="com.star.truffle.module.product.domain.ProductInventory">
    insert into product_inventory(id, product_id, number_type, number, sold_number, type, times)
    values(#{id}, #{productId}, #{numberType}, #{number}, #{soldNumber}, #{type}, #{times})
  </insert>

  <delete id="deleteProductInventoryByProductId" parameterType="java.lang.Long">
    delete from product_inventory where product_id = #{productId} and type = ${type}
  </delete>

  <select id="getProductInventoryByProductId" resultType="com.star.truffle.module.product.domain.ProductInventory">
    select
    id, product_id, number_type, number, sold_number, type, times
    from product_inventory
    where product_id = #{productId} and type = ${type}
  </select>

  <update id="updateProductInventory" parameterType="com.star.truffle.module.product.domain.ProductInventory">
    update product_inventory
    <trim prefix="set" suffixOverrides=",">
      <if test="numberType != null">number_type = #{numberType},</if>
      <if test="number != null">number = #{number},</if>
      <if test="soldNumber != null">sold_number = #{soldNumber},</if>
      <if test="times != null">times = #{times},</if>
    </trim>
    where id = #{id}
  </update>

  <update id="syncProductSoldNumber">
  	update product_inventory set sold_number = 0;
    update product_inventory i, (
			SELECT d.product_id, SUM(d.count) counts 
    	from order_detail d 
    	LEFT JOIN `order` o on d.order_id = o.order_id
    	where 
      	o.state in (2,3) GROUP BY d.product_id) b 
    set i.sold_number = b.counts 
    where i.product_id = b.product_id
  </update>
  
</mapper>