<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.write.DistributorTotalWriteDao">

  <insert id="batchSaveDistributorTotal" parameterType="java.util.List">
    insert into distributor_total(id, distributor_id, create_time, order_num, product_num, pay_people_num, use_despatch_num, buy_self_num, unuse_despatch_num, unbuy_self_num, pay_money_of_product, pay_money_of_despatch, kickback_second, kickback_first)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id}, #{item.distributorId}, #{item.createTime}, #{item.orderNum}, #{item.productNum}, #{item.payPeopleNum}, #{item.useDespatchNum}, #{item.buySelfNum}, #{item.unuseDespatchNum}, #{item.unbuySelfNum}, #{item.payMoneyOfProduct}, #{item.payMoneyOfDespatch}, #{item.kickbackSecond}, #{item.kickbackFirst})
    </foreach>
  </insert>

  <delete id="deleteDistributorTotalBy" parameterType="java.lang.Integer">
    delete from distributor_total where TO_DAYS( NOW() ) - TO_DAYS(create_time) = #{day}
  </delete>

</mapper>